<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 설정 -->
	<properties resource="db.properties" />

	<!-- Java Class에 대한 alias 지정 -->
	<typeAliases>
		<typeAlias type="com.jwh.shop.dto.Member" alias="Member" />
		<typeAlias type="com.jwh.shop.dto.Book"  alias="Book" />
		<typeAlias type="com.jwh.shop.dto.Sale"  alias="Sale" />
		<typeAlias type="com.jwh.shop.dto.WishList"  alias="WishList" />
	</typeAliases>
	
	<!-- Mapper 파일 include -->
	<mappers>
		<mapper resource="MemberMapper.xml" />
		<mapper resource="bookMapper.xml" />
		<mapper resource="SaleMapper.xml" />
	</mappers>
	
</configuration>
